body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #E6E6E6
}
#header {
  text-align: center;
  background-color: #34c6eb;
  padding: 40px;
}
#instructions {
  padding-top: 50px;
  text-align: center;
}
